* {
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: "Roboto", serif;
}
.header{
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  padding: 20px;
}
.topnavbar{
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
}

.topnavbar .nav{
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}
.topnavbar .nav .nav-item .item-image{
  max-width: 50px;
}
.topnavbar .nav .nav-item a{
  text-decoration: none;
  font-weight: 900;
  color: black;
}
.topnavbar .nav .nav-item a:hover{
  color: green;
}

.cookie-banner{
  padding: 30px ;
  border-top: 1px solid;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.banner-text-container{
 flex-grow: 1;
}

.cookie-banner .banner-text-bold{
  font-weight: bold;
}

.cookie-banner .banner-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-banner .banner-button-container .banner-button {
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 25px;
  width: 100px;
  cursor: pointer;
}
.invisible{
  display: none;
}