/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
   
  main {
    display: flex;
    flex: 1; /* Toma todo el espacio restante después del header */
  }
  
  /* Left Container */
  .left-container {
    flex: 1; /* Ocupa la mitad izquierda */
    background-color: #0B664A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-right: 2px solid #ddd;
    position: sticky;
  }
  
  /* Right Container */
  .right-container {
    flex: 1; /* Ocupa la mitad derecha */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #fafafa;
  }
  
  .grid-item {
    background-color: #86f380;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2em;
    width: 50%;
    height: 50%;
  }